.bike-img {
  width: 200px;
}

.show-on-click {
  text-decoration: underline;
  color: blue;
    &:hover {
      color: black;
      cursor: pointer;
    }
}

.bike-info {
  display: none;
}

.g-map {
  height: 300px;
  width: 300px;
}
